// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#ytPlayer, #twitchChat {
  height: 100% !important;
  padding: 0 !important;
}
#optionsWrapper {
  background: transparent;
  border: none;
  pointer-events: none;
}
#optionsMenu {
  width: auto;
  height: 100%;
}
#optionsContainer{
  pointer-events: auto;
}
.container-fluid, .row {
  height: 100% !important;
}
